<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue | To-Do Application</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand">
                <i class="glyphicon glyphicon-bullhorn"></i> Vue | To Do Application
            </a>
        </div>
    </nav>

    <!--Application-->
    <div class="container-fluid" id="todos">
        <!--Add new To-do Form-->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Add a To-Do</h3>
                </div>
                <div class="panel-body">
                    <!--To-Do Name-->
                    <div class="form-group">
                        <input class="form-control" placeholder="To-Do Name" v-model="todo.name">
                    </div>
                    <!--To-Do Description-->
                    <div class="form-group">
                        <textarea class="form-control" placeholder="To-Do Description" v-model="todo.description"></textarea>
                    </div>
                    <!--To-Do Date-->
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Date" v-model="todo.date">
                    </div>
                    <!--To-Do Submit Button-->
                    <button class="btn btn-default" @click="addToDo">Submit</button>
                </div>
            </div>
        </div>
        <!--Show all To-Dos-->
        <div class="col-sm-6">
            <div class="list-group">
                <a href="#" class="list-group-item" v-for="todo in todos">
                    <h4 class="list-group-item-heading">
                        <i class="glyphicon glyphicon-bullhorn"></i> {{ todo.name }}
                    </h4>
                    <h5>
                        <i class="glyphicon glyphicon-calendar" v-if="todo.date"></i> {{ todo.date }}
                    </h5>
                    <p class="list-group-item-text" v-if="todo.description">{{ todo.description }}</p>
                    <button class="btn btn-xs btn-danger" @click="deleteToDo($index)">Delete</button>
                </a>
            </div>
        </div>
    </div>

    <!--Import JS-->
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="app.js"></script>
</body>

</html>